<mat-stepper class="demo-stepper" #stepper>
      <!-- <mat-step [stepControl]="firstFormGroup"> -->
      <mat-step label="Campaign Detail">
        <app-form1 (firstFormEmitter)="firstFormSubmission($event)"></app-form1>
    </mat-step>
    <mat-step label="Loctaion Detail">
      <app-form2 (backEmitter)="goBack()"(secondFormEmitter)="secondFormSubmission($event)"></app-form2>
    </mat-step>
    <mat-step label="Audience">
      <app-form3 (backEmitter)="goBack()"(thirdFormEmitter)="thirdFormSubmission($event)"></app-form3>
    </mat-step>
      <mat-step>
        <ng-template matStepLabel>Campaign Schedule</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-stepper>
