.card-container {
    .create-campaign {
      button {
        background-color: #1162ff;
      }
    }
  }
  .title-ui {
    color: #555;
    font-weight: 600;
    font-size: 22px;
    margin: 0;
  }
  .main-container {
    padding: 20px;
  }
  .card-container:has(.create-campaign) {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
  }
  